.container {
    padding-top: 150px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}